@import url('https://fonts.googleapis.com/css?family=Muli');

html,body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Muli",sans-serif;
}

html,body,h1,h2,h3,h4,h5,p,ul {
	margin: 0;
	padding: 0
}

h1,h2,h3,h4,h5 {
	font-family: Georgia, serif;
}

a {
	text-decoration: none;
	color: #202020
}

h1 {
	font-size: 28px
}

h3 {
	font-size: 24px
}

h4 {
	font-size: 16px
}

p {
	font-size: 22px
}

.outer-vertical {
	width: 100% !important;
	height: 100% !important;
	display: table !important
}

.outer-vertical .inner-vertical {
	display: table-cell !important;
	vertical-align: middle !important;
	text-align: center
}

hr {
	width: 100px;
	background: #8a8a8a;
	height: 1px;
	border: 0
}

footer {
	background-color: #fff;
	text-align: center;
	color: #8a8a8a;
	padding: 10px 0;
	font-size: 18px;
	position: relative;
	z-index: 12
}

footer .social-links ul {
	margin-bottom: 30px
}

footer .social-links ul li {
	display: inline;
	margin: 0 30px
}

footer .social-links ul li a {
	color: #fff;
	font-weight: 300
}

footer .social-links ul li a:hover {
	color: #202020
}

footer .copyright-text {
	color: #8a8a8a
}

footer .copyright-text p {
	font-size: 18px
}

.section-bullets li a {
	opacity: 1
}

.section-bullets li a:after {
	width: 10px;
	height: 10px;
	background-color: #202020;
	top: 6px
}

.section-bullets li.active a:after {
	width: 6px;
	height: 6px;
	background-color: transparent !important;
	border: 2px solid #202020
}

.section-bullets li a:before {
	background-color: transparent !important
}

.section-bullets li span {
	margin-right: 10px;
	display: inline-block;
	color: #202020
}

.section-bullets-white li a:after {
	background-color: #fff !important
}

.section-bullets-white li.active a:after {
	border: 2px solid #fff !important
}

.section-bullets-white li span {
	color: #fff !important
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.bullets-container {
			display:none
	}
}

.header {
	/* background-image: url("https://static.pexels.com/photos/246230/pexels-photo-246230.png"); */
	/* background-color: rgb(69,117,150); */
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	min-height: 100vh;
	position: relative;

    
	/* background: rgb(69,117,150); */
	/* background: -webkit-linear-gradient(right,rgb(31, 63, 83),rgb(69,117,150)); */
	/* background: -moz-linear-gradient(right,rgb(43, 81, 105),rgb(69,117,150)); */
	background: radial-gradient(ellipse at center, rgb(31, 63, 83) 0%,rgb(69,117,150) 100%);
	
}

.header .presentation {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.header .my-name {
	/* display: inline-block; */
	margin-top: 30px;
	text-align: center;
	position: relative;
	width: 100%;
	color: #fff
}

.header .my-name h1 {
	font-weight: bold;
	/* font-family: Raleway; */
	/* letter-spacing: 5px; */
	/* text-transform: uppercase */
}

.header .my-name .name-tagline {
	font-weight: normal;
	/* font-family: Raleway; */
	font-weight: 300;
	letter-spacing: 1.5px;
	font-size: 20px;
	margin-top: 20px;
	padding: 0 15px
}

.header .photo {
	width: 301px;
	height: 301px;
	margin: 0 auto;
	border-radius: 160px;
	-webkit-border-radius: 160px;
	-moz-border-radius: 150px;
	background: url("http://dammsdal.se/img/Marie-Kvarsell.png") center center no-repeat;
	background-size: cover;
	border: 6px solid rgba(202,202,202, .6);
	box-shadow: 0 0 0px 2px rgb(203, 203, 203), 0 0 13px 11px rgba(24, 35, 50, 1);
	-webkit-box-shadow: 0 0 0px 2px rgb(203, 203, 203), 0 0 13px 11px rgba(24, 35, 50, 1);
	-moz-box-shadow: 0 0 0px 2px rgb(203, 203, 203), 0 0 13px 11px rgba(24, 35, 50, 1);
	/* z-index: 10 */
}

.header .btn-responsive-menu {
	display: none;
	font-size: 30px;
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 9999
}
.btn-responsive-menu:before {
	content: "\2261";
	display: block;
	font-size: 74px;
	line-height: 40px;
}


.responsive-menu {
	display: none
}


.header .scroll-down {
	display: none;
	background: url(../img/scroll-down.png) top center no-repeat;
	width: 75px;
	height: 40px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	margin-left: -37px
}

.header .scroll-down span {
	font-size: 10px;
	display: block;
	text-align: center;
	margin-top: 45px;
	font-weight: bold
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.header-white .btn-responsive-menu {
			color:#fff
	}

	.header .presentation {
		width: 100%;
	}
	.header .photo {
			width: 150px;
			height: 150px;
	}

	.header .btn-responsive-menu {
			display: block;
	}

	.responsive-menu {
			display: block;
		}
		
		.responsive-menu.open {
			/* display: block; */
			/* height: 100%; */
		}
		
		
		.responsive-menu.open .btn-responsive-menu {
			color: #E5E5E5;
		}
		
		.responsive-menu .menu {
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 0;
			z-index: 999;
			background-color: #202020;
			padding-top: 50px;
			font-size: 26px;
			overflow: hidden;
			-webkit-transition: height .3s ease-in;
			-moz-transition: height .3s ease-in;
			-o-transition: height .3s ease-in;
			transition: height .3s ease-in;
		}
		.responsive-menu.open .menu {
			/* display: block; */
			height: 100%;
	}
		
	.responsive-menu .menu .logo {
			width: 150px;
			margin: 0 auto 40px auto;
			display: block;
			opacity: 0.9
	}

	.responsive-menu .menu ul {
			text-align: center;
			background-color: #E5E5E5;
			height: 100%;
			padding-top: 30px
	}

	.responsive-menu .menu ul li:first-child {
			margin-top: 0
	}

	.responsive-menu .menu ul li span {
			font-size: 14px
	}
}

.text-section {
	background-color: #fff;
	color: #202020;
	min-height: 100vh;
	position: relative;
	padding: 80px 0
}
.text-section .text {
	width: 650px;
	margin: 0 auto;
}

.text-section a {
	color: #a3a3a3;
	text-decoration: underline;
	font-style: italic
}
.text-section a:hover {
	text-decoration: none;
}

.text-about h4 {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px
}

.text p {
	color: #8a8a8a;
	line-height: 1.5em;
	margin: 30px 0 0 0;
}

.profile-about .text-about .aname {
	cursor: pointer
}

.profile-about .social-links {
	width: 650px;
	margin: 40px auto 0 auto
}

.profile-about .social-links h4 {
	text-transform: uppercase;
	letter-spacing: 1px
}

.profile-about .social-links ul {
	margin: 30px 0
}

.profile-about .social-links ul li {
	display: inline;
	margin: 0 10px
}

.profile-about .social-links ul li a {
	color: #8a8a8a;
	font-weight: 300
}

.profile-about .social-links ul li a:hover {
	color: #202020
}

.profile-about .social-links ul li:first-child {
	margin-left: 0
}

.profile-about .social-links ul li:last-child {
	margin-right: 0
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.profile-about .text-about,.profile-about .social-links {
			width:88%;
			padding: 20px
	}

	.profile-about .text-about h4,.profile-about .social-links h4 {
			text-align: center
	}

	.profile-about .social-links {
			margin-top: 10px
	}

	.profile-about .social-links ul {
			text-align: center
	}

	.profile-about .social-links ul li a {
			font-size: 26px
	}
} /* /MEDIA QUERY */

.profile-quote {
	background-color: #202020;
	background-image: url("../img/porta.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	height: inherit;
	position: relative;
	clear: both
}

.profile-quote .overlay-quote {
	background-color: #202020;
	z-indexms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.8)";
	filter: alpha(opacity=0.8);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	height: inherit
}

.profile-quote .text-quote {
	width: 950px;
	margin: 0 auto;
	letter-spacing: 1px;
	text-align: center;
	z-index: 2
}

.profile-quote .text-quote h4 {
	text-transform: uppercase;
	font-weight: bold
}

.profile-quote .text-quote p {
	font-style: italic;
	font-size: 32px;
	letter-spacing: 1.6px;
	margin: 30px 60px;
}

.profile-quote .text-quote .author-quote {
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	font-size: 11px;
	letter-spacing: .25em;
	text-transform: uppercase;
	color: #8a8a8a
}

.blog-posts {
	padding: 80px 0;
	width: 650px;
	height: inherit;
	margin: 0 auto
}

.blog-posts h4 {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px
}

.blog-posts .posts {
	margin: 30px 0 0 0
}

.blog-posts .posts li {
	display: block;
	margin: 30px 0 0 0
}

.blog-posts .posts li a {
	color: #8a8a8a;
	display: block;
	font-size: 22px
}

.blog-posts .posts li a:hover {
	color: #202020
}

.blog-posts .posts li a .date {
	display: block;
	font-size: 14px
}

.blog-posts .posts li a p {
	font-size: 18px
}

.blog-posts .more-posts {
	margin: 0 auto;
	text-align: center;
	color: #202020;
	text-transform: uppercase;
	padding: 10px 20px;
	display: block;
	margin-top: 50px;
	width: 100px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px
}

.blog-posts .more-posts:hover {
	color: #8a8a8a
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.blog-posts {
			width:88%;
			padding: 80px 20px 20px
	}

	.blog-posts h4 {
			text-align: center
	}

	.blog-posts .posts li a p {
			display: none
	}
}
